<header>
    <div class="container">
        <figure class="logo__figure">
            <img src="/assets/imgs/logo.PNG" class="logo__img">
            <p><span>S</span>Ticket</p>
            <button class="btn menu"><i class="bi bi-list"></i></button>
        </figure>
        <div class="buttons">
            <div class="logo__content">
                <figure class="logo__figure">
                    <img src="/assets/imgs/logo.PNG" class="logo__img">
                    <p><span>S</span>Ticket</p>
                </figure>
                <button class="exit"><i class="bi bi-x"></i></button>
            </div>
            <a class="btn selected" href="#">Home</a>
            <% if(user.isAdmin) { %>
                <a class="btn" href="#">Usuarios</a>
            <% } else { %>
                <a class="btn" href="#">Configuración</a>
            <% } %>
        </div>
        <div class="perfil__content">
            <div class="perfil">
                <img src="/assets/imgs/user-default.png">
                <form class="opciones" action="/logout?_method=DELETE" method="POST">
                    <a class="opcion" href="/perfil"><i class="bi bi-person"></i> Perfil</a>
                    <button class="opcion" type="submit"><i class="bi bi-box-arrow-left"></i> Cerrar Sesión</button>
                </form>
            </div>
            <p>@<%= user.usuario %></p>
        </div>
    </div>
</header>