<header>
    <div class="container">
        <figure class="logo__figure">
            <img src="assets/imgs/logo.PNG" class="logo__img">
            <p><span>S</span>Ticket</p>
            <button class="btn menu"><i class="bi bi-list"></i></button>
        </figure>
        <div class="buttons">
            <div class="logo__content">
                <figure class="logo__figure">
                    <img src="assets/imgs/logo.PNG" class="logo__img">
                    <p><span>S</span>Ticket</p>
                </figure>
                <button class="exit"><i class="bi bi-x"></i></button>
            </div>
            <a class="btn selected" href="#">Login</a>
            <a class="btn" href="#">Acerca de</a>
            <a class="btn" href="#">Contacto</a>
        </div>
    </div>
</header>