<section>
    <div class="section__header">
        <div class="container">
            <h3><%=env.seccion%></h3>
            <% if(!user.isAdmin) { %>
                <% if(pagina !== 'usertickets' && pagina !== 'editar') { %>
                    <p class="sections"><a href="/home"><i class="bi bi-reply"></i> Regresar</a>
                <% } %>
                <% if(pagina === 'editar') { %>
                    <p class="sections"><a href="/verticket?id=<%=env.ticket.id%>"><i class="bi bi-reply"></i> Regresar</a>
                <% } %>
            <% } else { %>
                <% if(pagina !== 'admintickets') { %>
                    <p class="sections"><a href="/admintickets"><i class="bi bi-reply"></i> Regresar</a>
                <% } else { %>
                    <p class="sections"><span><%= env.enEspera %></span> en espera</p>
                <% } %>
            <% } %>
        </div>
        </div>
    </div>
</section>