<section>
    <div class="section__header">
        <div class="container">
            <h3>Mis Tickets</h3>
            <p class="sections"><a href="#home">Mis Tickets</a> / <a href="./solicitud.html">Solicitar Ticket</a> / <a href="../html/perfil.html">Perfil</a></p>
        </div>
    </div>
</section>