footer {
    padding-top: 60px;
    background-color: #e6e6e6;
}

.r1, .icons, .icons + p {
    color: #666;
}

.r1, .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 27px;
    margin-bottom: 30px;
}

.icons {
    font-size: 20px;
}

.icons + p {
    text-align: center;
    padding-bottom: 70px;
}

.r1 > p:hover, .icons > i:hover {
    color: #376bd3;
    cursor: pointer;
}

.r1 > p, .icons > i {
    transition: all .2s ease;
}