<section class="section__tickets">
    <div class="container">
        <a href="../html/solicitud.html" class="solicitar">Solicitar Ticket <i class="bi bi-plus-lg"></i></a>
        <div class="tickets">
            <a href="../html/view.html" class="ticket">
                <p class="estado">Abierto <i class="bi bi-dot"></i></p>
                <p class="titulo">Revisión de Impresora</p>
                <p class="prioridad critico">CRITICO</p>
                <p class="hora">Hoy 2:42 p.m.</p>
                <img class="ticket__img" src="/assets/imgs/impresora-w.png">
            </a>
            <a href="../html/view.html" class="ticket">
                <p class="estado">Abierto <i class="bi bi-dot"></i></p>
                <p class="titulo">Revisión de Impresora</p>
                <p class="prioridad regular">REGULAR</p>
                <p class="hora">Hoy 2:42 p.m.</p>
                <img class="ticket__img" src="/assets/imgs/impresora-w.png">
            </a>
            <a href="../html/view.html" class="ticket">
                <p class="estado">Abierto <i class="bi bi-dot"></i></p>
                <p class="titulo">Revisión de Impresora</p>
                <p class="prioridad medio">MEDIO</p>
                <p class="hora">Hoy 2:42 p.m.</p>
                <img class="ticket__img" src="/assets/imgs/impresora-w.png">
            </a>
        </div>
    </div>
</section>