<section class="acerca">
    <div class="container">
        <h1>Acerca de nosotros</h1>
        <div>
            <div class="contents">
                <div class="content">
                    <div>
                        <img src="/assets/imgs/logo.PNG">
                        <div>
                            <p>STicket</p>
                            <p>Versión 1.0.0</p>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div>
                        <img src="/assets/imgs/html.svg">
                        <img src="/assets/imgs/css.svg">
                        <img src="/assets/imgs/js.svg">
                    </div>
                </div>
            </div>
            <div class="content">
                <p>STicket es un sistema de soporte técnico de fácil uso, diseñado para automatizar el proceso de atención de solicitudes en tu empresa.<br><br>Solicita tu acceso al departamento de soporte técnico para poder utilizarlo.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="dev__team">
    <div class="container">
        <h2>Equipo de desarrollo</h2>
        <div class="devs">
            <div class="dev">
                <figure>
                    <img class="dev__img" src="/assets/imgs/yohan.PNG">
                </figure>
                <p class="nombre">Yohan Alek Plazola Arangure</p>
            </div>
            <div class="dev">
                <figure>
                    <img class="dev__img" src="/assets/imgs/lara.PNG">
                </figure>
                <p class="nombre">Jesus Alejandro Quezada Lara</p>
            </div>
            <div class="dev">
                <figure>
                    <img class="dev__img" src="/assets/imgs/estrella.PNG">
                </figure>
                <p class="nombre">Maria Estrella Landeros Andrade</p>
            </div>
            <div class="dev">
                <figure>
                    <img class="dev__img" src="/assets/imgs/octavio.PNG">
                </figure>
                <p class="nombre">Octavio de Jesus Burgueño Barraza</p>
            </div>
        </div>
    </div>
</section>