<section>
    <div class="container">
        <div class="tickets__section">
            <div class="head__section">
                <div>
                    <p>Filtrar por:</p>
                    <div class="filtros">
                        <a href="#" class="bt regular">Regular</a>
                        <a href="#" class="bt medio">Medio</a>
                        <a href="#" class="bt critico selected">Crítico</a>
                    </div>
                </div>
                <div class="busqueda">
                    <a href="#" class="inp buscar"><i class="bi bi-search"></i></a>
                    <input class="inp buscar__input" type="text" name="id">
                </div>
            </div>
        </div>
    </div>
</section>