<section>
    <div class="container">
        <div class="tickets__section">
            <div class="head__section">
                <div class="filtros__container">
                    <div>
                        <p>Filtrar por:</p>
                        <select class="filtro" name="filtro">
                            <option value="todos">Todos</option>
                            <option value="regular">Regular</option>
                            <option value="medio">Medio</option>
                            <option value="critico">Crítico</option>
                        </select>
                    </div>
                    <div>
                        <p>Estado:</p>
                        <select class="filtro" name="filtro">
                            <option value="todos">Todos</option>
                            <option value="regular">Abierto</option>
                            <option value="medio">Cerrado</option>
                        </select>
                    </div>
                </div>
                <div class="busqueda">
                    <a href="#" class="inp buscar"><i class="bi bi-search"></i></a>
                    <input class="inp buscar__input" type="text" name="id" placeholder="Buscar código">
                </div>
            </div>
            <div class="tickets">
                <a class="ticket" href="/averticket">
                    <div class="p">
                        <figure>
                            <img class="imagen" src="/assets/imgs/octavio.PNG">
                        </figure>
                        <div>
                            <p class="nombre">@OctavioBatman</p>
                            <p class="dep">Informática</p>
                        </div>
                    </div>
                    <div class="icono">
                        <img src="/assets/imgs/impresora-b.PNG">
                    </div>
                    <div class="descripcion__ticket">
                        <p>Problema con Impresora</p>
                        <div class="datos">
                            <p>CRÍTICO</p>
                            <p>Abierto</p>
                        </div>
                    </div>
                    <div>
                        <p class="fecha">2 Sep 2024 2:42 PM</p>
                    </div>
                    <p class="espera"><i class="bi bi-pencil-square"></i> En espera</p>
                    <p class="codigo">#173</p>
                </a>
                <a class="ticket" href="/averticket">
                    <div class="p">
                        <figure>
                            <img class="imagen" src="/assets/imgs/octavio.PNG">
                        </figure>
                        <div>
                            <p class="nombre">@OctavioBatman</p>
                            <p class="dep">Informática</p>
                        </div>
                    </div>
                    <div class="icono">
                        <img src="/assets/imgs/impresora-b.PNG">
                    </div>
                    <div class="descripcion__ticket">
                        <p>Problema con Impresora</p>
                        <div class="datos">
                            <p>CRÍTICO</p>
                            <p>Abierto</p>
                        </div>
                    </div>
                    <div>
                        <p class="fecha">2 Sep 2024 2:42 PM</p>
                    </div>
                    <p class="espera"><i class="bi bi-pencil-square"></i> En espera</p>
                    <p class="codigo">#174</p>
                </a>
                <a class="ticket" href="/averticket">
                    <div class="p">
                        <figure>
                            <img class="imagen" src="/assets/imgs/octavio.PNG">
                        </figure>
                        <div>
                            <p class="nombre">@OctavioBatman</p>
                            <p class="dep">Informática</p>
                        </div>
                    </div>
                    <div class="icono">
                        <img src="/assets/imgs/impresora-b.PNG">
                    </div>
                    <div class="descripcion__ticket">
                        <p>Problema con Impresora</p>
                        <div class="datos">
                            <p>CRÍTICO</p>
                            <p>Abierto</p>
                        </div>
                    </div>
                    <div>
                        <p class="fecha">2 Sep 2024 2:42 PM</p>
                    </div>
                    <p class="espera"><i class="bi bi-pencil-square"></i> En espera</p>
                    <p class="codigo">#175</p>
                </a>
                <a class="ticket" href="/averticket">
                    <div class="p">
                        <figure>
                            <img class="imagen" src="/assets/imgs/octavio.PNG">
                        </figure>
                        <div>
                            <p class="nombre">@OctavioBatman</p>
                            <p class="dep">Informática</p>
                        </div>
                    </div>
                    <div class="icono">
                        <img src="/assets/imgs/impresora-b.PNG">
                    </div>
                    <div class="descripcion__ticket">
                        <p>Problema con Impresora</p>
                        <div class="datos">
                            <p>CRÍTICO</p>
                            <p>Abierto</p>
                        </div>
                    </div>
                    <div>
                        <p class="fecha">2 Sep 2024 2:42 PM</p>
                    </div>
                    <p class="espera"><i class="bi bi-pencil-square"></i> En espera</p>
                    <p class="codigo">#176</p>
                </a>
                <a class="ticket" href="/averticket">
                    <div class="p">
                        <figure>
                            <img class="imagen" src="/assets/imgs/octavio.PNG">
                        </figure>
                        <div>
                            <p class="nombre">@OctavioBatman</p>
                            <p class="dep">Informática</p>
                        </div>
                    </div>
                    <div class="icono">
                        <img src="/assets/imgs/impresora-b.PNG">
                    </div>
                    <div class="descripcion__ticket">
                        <p>Problema con Impresora</p>
                        <div class="datos">
                            <p>CRÍTICO</p>
                            <p>Abierto</p>
                        </div>
                    </div>
                    <div>
                        <p class="fecha">2 Sep 2024 2:42 PM</p>
                    </div>
                    <p class="espera"><i class="bi bi-pencil-square"></i> En espera</p>
                    <p class="codigo">#177</p>
                </a>
                <a class="ticket" href="/averticket">
                    <div class="p">
                        <figure>
                            <img class="imagen" src="/assets/imgs/octavio.PNG">
                        </figure>
                        <div>
                            <p class="nombre">@OctavioBatman</p>
                            <p class="dep">Informática</p>
                        </div>
                    </div>
                    <div class="icono">
                        <img src="/assets/imgs/impresora-b.PNG">
                    </div>
                    <div class="descripcion__ticket">
                        <p>Problema con Impresora</p>
                        <div class="datos">
                            <p>CRÍTICO</p>
                            <p>Abierto</p>
                        </div>
                    </div>
                    <div>
                        <p class="fecha">2 Sep 2024 2:42 PM</p>
                    </div>
                    <p class="espera"><i class="bi bi-pencil-square"></i> En espera</p>
                    <p class="codigo">#178</p>
                </a>
                <a class="ticket" href="/averticket">
                    <div class="p">
                        <figure>
                            <img class="imagen" src="/assets/imgs/octavio.PNG">
                        </figure>
                        <div>
                            <p class="nombre">@OctavioBatman</p>
                            <p class="dep">Informática</p>
                        </div>
                    </div>
                    <div class="icono">
                        <img src="/assets/imgs/impresora-b.PNG">
                    </div>
                    <div class="descripcion__ticket">
                        <p>Problema con Impresora</p>
                        <div class="datos">
                            <p>CRÍTICO</p>
                            <p>Abierto</p>
                        </div>
                    </div>
                    <div>
                        <p class="fecha">2 Sep 2024 2:42 PM</p>
                    </div>
                    <p class="espera"><i class="bi bi-pencil-square"></i> En espera</p>
                    <p class="codigo">#179</p>
                </a>
            </div>
        </div>
    </div>
</section>