<section>
    <div class="container">
        <p class="ptitulo">Registro de nueva cuenta.</p>
        <form class="usuario" action="/crearusuario" method="POST" enctype="multipart/form-data">
            <div class="usuario__contenedor">
                <div class="col">
                    <p class="infoPerfil">Datos del usuario</p>
                    <div class="linea"></div>
                    <div class="inputs__container">
                        <div class="inputs">
                            <div class="input">
                                <p>Nombre Completo</p>
                                <input name="nombre" class="inp usuario" type="text" placeholder="..." required>
                            </div>
                            <div class="input">
                                <p>Puesto</p>
                                <input name="puesto" class="inp puesto" type="text" placeholder="..." required>
                            </div>
                            <div class="input">
                                <p>Departamento</p>
                                <input name="departamento" class="inp departamento" type="text" placeholder="..." required>
                            </div>
                            <div class="input">
                                <p>Número Celular</p>
                                <div class="numeroCelular">
                                    <input name="codigo" class="inp codigo" type="number" min="0" placeholder="000" required></input>
                                    <input name="numero" class="inp celular" type="text" min="0" placeholder="..." required>
                                    <p>+</p>
                                </div>
                            </div>
                        </div>
                        <div class="foto">
                            <div class="foto__content">
                                <div class="foto__img">
                                    <img class="laimagen" src="/assets/imgs/user-default.png">
                                </div>
                                <label for="imagen"><i class="bi bi-pencil-square"></i></label>
                            </div>
                            <input name="foto" id="imagen" class="inp imagen" type="file" accept=".jpg, .jpeg, .png, .gif">
                        </div>
                    </div>
                </div>
            </div>
            <div class="usuario__contenedor">
                <div class="col">
                    <p class="infoPerfil">Datos de sesión</p>
                    <div class="linea"></div>
                    <div class="inputs">
                        <div class="input">
                            <p>Correo Electrónico</p>
                            <input name="email" class="inp correo" type="email" placeholder="Correo generado automaticamente" required readonly>
                        </div>
                        <div class="input">
                            <p>Rol asignado</p>
                            <select name="isAdmin" class="inp roles">
                                <option value="0">USER</option>
                                <option value="1">ADMIN</option>
                            </select>
                        </div>
                        <div class="input">
                            <p>Contraseña</p>
                            <input name="pass" class="inp pass" type="password" placeholder="..." required>
                        </div>
                        <div class="input">
                            <p>Confirmar Contraseña</p>
                            <input name="cpass" class="inp cpass" type="password" placeholder="..." required>
                        </div>
                    </div>
                </div>
                <div class="r-cont">
                    <button type="submit" class="registrar">Registrar Cuenta</button>
                </div>
            </div>
        </form>
    </div>
</section>