<section class="ticket__section">
    <div class="container">
        <p>Solicitud de soporte técnico</p>
        <div class="ticket">
            <form>
                <i class="bi bi-pencil-square"></i>
                <input class="inp titulo" type="text" placeholder="Ingrese el título..." required>
                <div class="hr"></div>
                <div class="inputs">
                    <div class="input">
                        <p>Descripción del asunto:</p>
                        <textarea class="descripcion" required></textarea>
                    </div>
                    <div class="input">
                        <p>Selecciona un icono de preferencia para este ticket:</p>
                        <div class="iconos">
                            <img class="icono selected" src="/assets/imgs/impresora-s.png" alt="Icono">
                            <img class="icono" src="/assets/imgs/fix-b.png" alt="Icono">
                            <img class="icono" src="/assets/imgs/computadora-b.png" alt="Icono">
                            <img class="icono" src="/assets/imgs/documento-b.png" alt="Icono">
                            <img class="icono" src="/assets/imgs/reloj-b.png" alt="Icono">
                            <img class="icono" src="/assets/imgs/carpeta-b.png" alt="Icono">
                            <img class="icono" src="/assets/imgs/gear-b.png" alt="Icono">
                        </div>
                    </div>
                    <div class="input">
                        <p>Nivel de Prioridad</p>
                        <div class="prioridades">
                            <button class="prioridad pselected">Regular</button>
                            <button class="prioridad">Medio</button>
                            <button class="prioridad">Crítico</button>
                        </div>
                    </div>
                    <div class="input">
                        <a class="levantar" href="#">Levantar Petición</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>