<section class="section__tickets">
    <div class="container">
        <a href="/solicitud" class="solicitar">Solicitar Ticket <i class="bi bi-plus-lg"></i></a>
        <div class="tickets">
            <p>No hay tickets pendientes</p>
            
            <!-- <a href="/verticket" class="ticket">
                <p class="titulo">Revisión de Impresora</p>
                <p class="prioridad critico">CRITICO</p>
                <p class="hora">Hoy 2:42 p.m.</p>
                <img class="ticket__img" src="/assets/imgs/impresora-b.png">
            </a> -->
        </div>
    </div>
</section>