<section class="section__tickets">
    <div class="container">
        <h1><%= user.correo %></h1>
        <a href="/solicitud" class="solicitar">Solicitar Ticket <i class="bi bi-plus-lg"></i></a>
        <div class="tickets">
            <a href="/verticket" class="ticket">
                <p class="titulo">Revisión de Impresora</p>
                <p class="prioridad critico">CRITICO</p>
                <p class="hora">Hoy 2:42 p.m.</p>
                <img class="ticket__img" src="/assets/imgs/impresora-b.png">
            </a>
            <a href="/verticket" class="ticket">
                <p class="titulo">Revisión de Impresora</p>
                <p class="prioridad regular">REGULAR</p>
                <p class="hora">Hoy 2:42 p.m.</p>
                <img class="ticket__img" src="/assets/imgs/impresora-b.png">
            </a>
            <a href="/verticket" class="ticket">
                <p class="titulo">Revisión de Impresora</p>
                <p class="prioridad medio">MEDIO</p>
                <p class="hora">Hoy 2:42 p.m.</p>
                <img class="ticket__img" src="/assets/imgs/impresora-b.png">
            </a>
        </div>
    </div>
</section>