<section>
    <div class="container">
        <div class="items">
            <div>
                <a href="/crearusuario" class="crear">
                    Crear nuevo usuario 
                    <img src="/assets/imgs/plus.PNG">
                    <div class="linea__a"></div>
                </a>
                <select class="filtro">
                    <option value="Informática">Selecciona un departamento</option>
                    <option value="Informática">Informática</option>
                    <option value="Informática">Redes y comunicación</option>
                    <option value="Informática">RH</option>
                    <option value="Informática">Cindicato</option>
                    <option value="Informática">Mecatrónica</option>
                </select>
            </div>
            <div class="busqueda">
                <p href="#" class="inp buscar"><i class="bi bi-search"></i></p>
                <p class="arroba">@</p>
                <input class="inp buscar__input" type="text" name="id" placeholder="Ingrese Usuario">
            </div>
        </div>
        <div class="usuarios">
            <div class="usuarios__contenedor">
                <div class="usuario">
                    <div class="usuario__head">
                        <div class="foto">
                            <img src="/assets/imgs/user-default.png">
                        </div>
                    </div>
                    <p class="usuario__nombre">@NombreUsuario</p>
                    <p class="usuario__departamento">Informática</p>
                    <p class="rol admin">ADMIN</p>
                    <a href="#" class="editar"><i class="bi bi-pencil-square"></i></a>
                    <a href="#" class="eliminar"><i class="bi bi-trash-fill"></i></a>
                </div>
                <div class="usuario">
                    <div class="usuario__head">
                        <div class="foto">
                            <img src="/assets/imgs/user-default.png">
                        </div>
                    </div>
                    <p class="usuario__nombre">@NombreUsuario</p>
                    <p class="usuario__departamento">Informática</p>
                    <p class="rol user">USER</p>
                    <a href="#" class="editar"><i class="bi bi-pencil-square"></i></a>
                    <a href="#" class="eliminar"><i class="bi bi-trash-fill"></i></a>
                </div>
                <div class="usuario">
                    <div class="usuario__head">
                        <div class="foto">
                            <img src="/assets/imgs/user-default.png">
                        </div>
                    </div>
                    <p class="usuario__nombre">@NombreUsuario</p>
                    <p class="usuario__departamento">Informática</p>
                    <p class="rol admin">ADMIN</p>
                    <a href="#" class="editar"><i class="bi bi-pencil-square"></i></a>
                    <a href="#" class="eliminar"><i class="bi bi-trash-fill"></i></a>
                </div>
                <div class="usuario">
                    <div class="usuario__head">
                        <div class="foto">
                            <img src="/assets/imgs/user-default.png">
                        </div>
                    </div>
                    <p class="usuario__nombre">@NombreUsuario</p>
                    <p class="usuario__departamento">Informática</p>
                    <p class="rol user">USER</p>
                    <a href="#" class="editar"><i class="bi bi-pencil-square"></i></a>
                    <a href="#" class="eliminar"><i class="bi bi-trash-fill"></i></a>
                </div>
                <div class="usuario">
                    <div class="usuario__head">
                        <div class="foto">
                            <img src="/assets/imgs/user-default.png">
                        </div>
                    </div>
                    <p class="usuario__nombre">@NombreUsuario</p>
                    <p class="usuario__departamento">Informática</p>
                    <p class="rol admin">ADMIN</p>
                    <a href="#" class="editar"><i class="bi bi-pencil-square"></i></a>
                    <a href="#" class="eliminar"><i class="bi bi-trash-fill"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>