<section>
    <div class="container">
        <div class="ticket">
            <div class="details">
                <div class="edit">
                    <h3>Detalles del ticket</h3>
                </div>
                <div class="info">
                    <div>
                        <div class="c1">
                            <p class="abierto">Abierto</p>
                            <p>Medio</p>
                        </div>
                        <div class="c2">
                            <div class="com">
                                <i class="bi bi-chat-left"></i></i>
                                <p>En espera</p>
                            </div>
                            <p>Informática</p>
                        </div>
                    </div>
                    <div class="fecha">
                        <div class="com">
                            <i class="bi bi-calendar2-week"></i>
                            <p>11 Feb 2024 [ 2:42 PM ]</p>
                        </div>
                    </div>
                </div>
                <div class="contenido">
                    <h3 class="titulo">No funciona el Excel</h3>
                    <p class="descripcion">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae dolorem veritatis itaque odit, quod corrupti! Voluptates veritatis vero nobis, ipsam dolores odit eius, nulla, modi fugiat culpa pariatur fuga! Maxime quas unde iusto exercitationem. Voluptas, dolorem. Impedit illum deserunt vitae, reprehenderit, asperiores totam laborum libero, culpa in magnam quam temporibus!</p>
                </div>
            </div>
            <div class="linea__punteada"></div>
            <div class="estado">
                <p class="admin">
                    <img src="/assets/imgs/octavio.PNG">
                </p>
                <a class="atender" href="#">Atender Ticket</a>
            </div>
            <!-- <div class="mensaje">
                <p class="admin">
                    <img src="/assets/imgs/octavio.PNG">
                </p>
                <div>
                    <div class="head">
                        <p class="admin__nombre">@OctavioBatman. <span>Hoy a las 2:42 PM</span></p>
                    </div>
                    <div class="cuerpo">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ducimus provident et. Illum cupiditate iusto quia dolores nisi, doloremque quos, voluptatem corrupti beatae ut numquam ratione. Animi maiores praesentium magnam. lorem30</p>
                    </div>
                </div>
            </div>
            <div class="replica">
                <h3><i class="bi bi-reply"></i>Añadir comentario</h3>
                <div class="linea"></div>
                <textarea class="comentario" placeholder="Escribe aquí..."></textarea>
                <div>
                    <a class="enviar" href="#">Enviar Comentario</a>
                </div>
            </div> -->
        </div>
    </div>
</section>