.tickets__section {
    background-color: #EEF4F5;
    border-radius: 10px;
    padding: 20px;
    margin-top: 60px;
}

.head__section {
    border: 1px solid #e2e2e2;
    background-color: #fff;
    border-radius: 5px 5px 2px 2px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.head__section > div:first-of-type > p {
    font-size: 13px;
    margin-bottom: 10px;
}

.filtros__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}

.filtros__container p {
    margin-bottom: 10px;
}

.filtro {
    outline: none;
    padding: 6px 12px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}

.busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0;
}

.buscar {
    position: relative;
    display: inline-block;
    color: #212529;
    width: 30px;
    height: 30px !important;
    font-size: 13px;
    text-align: center;
    line-height: 15px;
    transition: all .1s ease;
}

.buscar:hover {
    color: #fff;
    font-weight: 500;
    border: 1px solid #376bd3;
    background-color: #376bd3;
}

.inp {
    padding: 8px 7px 7px;
    height: 100%;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    outline: none;
}

.buscar__input {
    height: 30px;
}

.buscar__input:focus {
    border: 1px solid #376bd3;
}

.tickets {
    overflow: hidden;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #e2e2e2;
    background-color: #f5f5f5;
    border-radius: 2px;
    height: 450px;
    overflow: auto;
}

.ticket {
    width: 840px;
    padding: 10px;
    color: #212529;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px #0000003f;
    transition: all .2s ease;
}

.ticket:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0px 7px 10px #00000019;
}

.p {
    width: 180px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border-right: 1px solid #e2e2e2;
    margin-right: 20px;
}

.ticket > .p > figure {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    overflow: hidden;
}

.ticket > .p .imagen {
    width: 100%;
}

.nombre {
    font-size: 12px;
    font-weight: 500;
}

.dep {
    font-size: 12px;
    color: gray;
    margin-top: 5px;
}

.icono {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.icono > img {
    width: 100%;
}

.descripcion__ticket {
    width: 220px;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #e2e2e2;
}

.datos > p {
    padding: 6px 10px 4px;
    width: 75px;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 5px;
}

.datos > p:first-of-type.abierto {
    background-color: #8e54c4;
}

.datos > p:first-of-type.cerrado {
    background-color: #393f4b;
}

.datos > p:last-of-type.regular {
    background-color: #33B122;
}

.datos > p:last-of-type.medio {
    background-color: #DC984B;
}

.datos > p:last-of-type.critico {
    background-color: #DC4B4B;
}

.descripcion__ticket > .datos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.descripcion__ticket + div {
    height: 40px;
    margin-right: 20px;
    border-right: 1px solid #e2e2e2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.fecha {
    font-size: 13px;
    color: #5f5f5f;
    width: 120px;
    padding-right: 20px;
}

.espera {
    font-size: 13px;
    padding: 8px 16px;
    background-color: #D1EBFF;
    color: #0D7FF6;
    border-radius: 5px;
    margin-right: 20px;
}

.codigo {
    color: gray;
}

.filtros {
    flex-wrap: wrap;
}

@media screen and (max-width: 560px) {
    .head__section {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        row-gap: 10px;
    }
}

@media screen and (max-width: 349px) {
    .bt {
        width: 70px;
        text-align: center;
    }

    .inp.buscar__input {
        width: 100%;
    }
}

@media screen and (max-width: 322px) {
    .filtros__container {
        flex-direction: column;
        gap: 20px;
    }
}