.dialog {
    position: fixed;
    display: none;
    padding: 12px 20px 15px !important;
    top: 0px;
    transition: all .2s ease;
}

.dialog.active {
    display: inline-block;
    padding: 12px;
    padding-bottom: 15px;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 5px;
    width: 250px;
    height: max-content;
    z-index: 1002;
    left: calc(50% - 125px);
    top: 175px;
}

.dialog > p {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.dialog > p > span {
    font-weight: bold;
}

.dialog > p + p {
    font-size: 12px;
    color: gray;
    margin-top: 10px;
}

.dialog > p + div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.dialog > p + div > .op {
    display: inline-block;
    padding: 8px 10px 6px;
    color: #fff;
    border: none;
    outline: none;
    width: 60px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}

.dialog > p + div > .op {
    background-color: gray;
    transition: all .2s ease;
}

.dialog > p + div > .op:hover {
    cursor: pointer;
    background-color: #9e9d9d;
}

.dialog > p + div > button[type="submit"].op {
    background-color: #B1202F;
}

.dialog > p + div > button[type="submit"].op:hover {
    cursor: pointer;
    background-color: #DC3545;
}

.usuarios {
    position: relative;
    background-color: #EEF4F5;
    border-radius: 10px;
    padding: 20px;
    height: max-content;
    overflow: hidden;
}

.usuarios__contenedor {
    position: relative;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 22px 20px;
    box-shadow: 0px 2px 3px #00000010;
    margin-bottom: 30px;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
    column-gap: 10px;
    row-gap: 13px;
}

.crear {
    margin-top: 60px;
    position: relative;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5px;
    font-size: 20px;
    color: #303030;
    padding: 5px 5px 5px 5px;
    width: max-content;
    margin-bottom: 15px;
}

.crear > img {
    position: relative;
    width: 23px;
    top: -1px;
}

.crear:hover > .linea__a {
    background-color: #303030;
}

.linea__a {
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 50%;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

.items > div {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.filtro {
    position: relative;
    padding: 8px 10px;
    top: 21px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    outline: none;
}

.busqueda {
    position: relative;
    top: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.buscar {
    position: relative;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    border: 1px solid #376bd3 !important;
    background-color: #376bd3;
    width: 33px;
    height: 33px !important;
    font-size: 13px;
    text-align: center;
    line-height: 15px;
    transition: all .1s ease;
}

.inp {
    padding: 8px 7px 7px;
    height: 100%;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    outline: none;
}

.arroba {
    font-size: 14px;
    position: absolute;
    left: 50px;
    top: 9px;
    z-index: 1;
}

.buscar__input {
    position: relative;
    right: 10px;
    height: 33px;
    font-size: 14px;
    padding-left: 20px;
}

.buscar__input:focus {
    border: 1px solid #376bd3;
}

.usuario {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    padding: 20px;
    padding-bottom: 50px;
    box-shadow: 0px 2px 3px #00000044;
    transition: all .2s ease;
}

.usuario:hover {
    cursor: pointer;
    transform: translateY(-3px);
    border: 1px solid #8697b8;
    box-shadow: 0px 5px 6px #00000023;
}

.usuario:hover > a.editar,
.usuario:hover > button.eliminar {
    bottom: 17px;
}

.usuario__head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.usuario .foto {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    overflow: hidden;
}

.usuario .foto > img {
    display: inline-block;
    width: 100%;
}

.usuario__nombre {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    color: #303030;
}

.usuario__nombre > span {
    font-weight: bold;
}

.usuario__departamento {
    margin-top: 5px;
    font-size: 12px;
    text-align: center;
    color: gray;
}

.rol {
    margin: 10px auto 0;
    font-size: 13px;
    padding: 7px 7px 5px;
    border-radius: 5px;
    color: #fff;
    width: max-content;
}

.rol.admin {
    background-color: #ee6331;
}

.rol.user {
    background-color: #6682bb;
}

.usuario > a.editar,
.usuario > button.eliminar {
    position: absolute;
    font-size: 12px;
    padding: 10px 10px 8px;
    border-radius: 5px;
    color: #fff;
    width: max-content;
    border-radius: 50%;
    bottom: -60px;
    transition: all .2s ease;
}

a.editar {
    left: calc(50% - 40px);
    background-color: #929292; 
}

a.editar:hover {
    background-color: gray;
}

button.eliminar {
    outline: none;
    border: none;
    right: calc(50% - 40px);
    background-color: #DC4B4B;
}

button.eliminar:hover {
    cursor: pointer;
    background-color: #d43535;
}

.verusuario {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.verusuario:hover {
    cursor: pointer;
}

@media screen and (max-width: 756px) {
    .items {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 37px;
        width: 100%;
    }

    .arroba {
        top: 10px;
    }

    .busqueda {
        width: 100%;
        justify-content: flex-start !important;
        align-items: center;
    }
}

@media screen and (max-width: 546px) {
    .usuarios__contenedor {
        justify-items: center;
    }
    
    .usuario {
        width: 250px;
    }
}

@media screen and (max-width: 481px) {
    .items {
        margin-bottom: 4px;
    }

    .items > div {
        width: 217px;
        flex-direction: column;
        align-items: flex-start;
    }

    .filtro {
        width: 100%;
        top: -2px;
    }

    .buscar__input {
        position: relative;
        left: 42px;
        top: -33px;
    }
}

@media screen and (max-width: 376px) {
    .usuario {
        width: 100%;
    }
}