.ticket__section > .container {
    padding-top: 60px;
    margin-bottom: 100px;
}

.ticket {
    margin-top: 60px;
    position: relative;
    background-color: #EEF4F5;
    border-radius: 10px;
    padding: 20px;
    height: max-content;
    overflow: hidden;
}

.details {
    position: relative;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 22px 20px;
    box-shadow: 0px 2px 3px #00000010;
    margin-bottom: 30px;
    z-index: 1;
}

.details > h3,
.replica > h3 {
    font-size: 21px;
    font-weight: 500;
    color: #4E5461;
}

.info {
    margin-top: 24px;
    padding: 10px 10px;
    border: 1px solid #3348711a;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #333845;
}

.info > div:first-of-type {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.info > div:first-of-type p {
    padding: 8px 10px 6px;
    border-radius: 3px;
}

.info > div:first-of-type p.abierto.is {
    color: #fff;
    background-color: #8e54c4;
}

.info > div:first-of-type p.abierto {
    color: #fff;
    background-color: #DC3545;
}

.info > div:first-of-type p:nth-of-type(2).r {
    color: #fff;
    background-color: #33B122;
}

.info > div:first-of-type p:nth-of-type(2).m {
    color: #fff;
    background-color: #DC984B;
}

.info > div:first-of-type p:nth-of-type(2).c {
    color: #fff;
    background-color: #DC3545;
}


.info > div:first-of-type .com {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: max-content;
    gap: 6px;
    background-color: #D1EBFF;
    color: #0D7FF6;
    padding-left: 10px;
    border-radius: 3px;
}

.info > div:first-of-type .com > p{
    padding-left: 0;
}

.fecha > .com {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

.c1,
.c2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.atender {
    display: inline-block;
    color: #fff;
    background-color: #ad35dc;
    padding: 8px 10px 6px;
    border-radius: 3px;
    font-weight: 500;
    transition: all .2s ease;
}

.cerrar:hover {
    background-color: #B1202F;
}

.contenido {
    margin-top: 40px;
}

.contenido > .titulo {
    font-size: 32px;
    font-weight: 500;
    color: #212529;
}

.descripcion {
    margin-top: 20px;
    font-size: 16px;
    line-height: 26px;
}

.linea__punteada {
    position: absolute;
    left: 39px;
    bottom: 23px;
    width: 3px;
    height: calc(100% - 5%);
    border-left: 2px dashed #D1DAE4;
    z-index: 0;
}

.admin {
    position: relative;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    text-align: center;
    border-radius: 5px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.admin > img {
    width: 100%;
}

.admin__nombre {
    position: relative;
    font-weight: bold;
    color: #212529;
    z-index: 1;
}

.estado {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    color: #4E5461;
    gap: 10px;
    margin-bottom: 20px;
}

.mensaje {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: max-content;
    gap: 20px;
}

.mensaje > .admin {
    margin-bottom: auto;
}

.head {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 12px 15px 10px;
    font-size: 14px;
    color: #25303B;
    background-color: #E5EEFF;
    border: 1px solid #D1DCF1;
    border-radius: 5px 5px 0px 0px;
}

.head::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 5px;
    left: -9px;
    z-index: -2;
    width: 30px;
    height: 30px;
    background-color: #D1DCF1;
    clip-path: polygon(28% 24%, 28% 76%, 0% 50%);
}

.head::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 5px;
    left: -7px;
    z-index: -2;
    width: 30px;
    height: 30px;
    background-color: #E5EEFF;
    clip-path: polygon(27% 25%, 27% 75%, 0% 50%);
}

.head > p > span {
    font-size: 12px;
    margin-left: 15px;
    color: #757D8F;
}

.mensaje > .admin + div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.cuerpo {
    position: relative;
    top: -1px;
    padding: 15px;
    font-size: 16px;
    line-height: 1.5;
    color: #212529;    
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 2px 3px #00000010;
    margin-bottom: 25px;
}

.replica {
    position: relative;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 9px 15px;
    box-shadow: 0px 2px 3px #00000010;
    z-index: 1;
}

.replica > h3 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px;
}

.replica > h3 > i {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.linea {
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #DBE1EB;
}

.comentario {
    color: #212529;
    font-size: 16px;
    padding: 15px 10px 10px;
    width: 100%;
    height: 200px;
    outline: none;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    resize: none;
    line-height: 1.5;
}

.comentario:focus {
    outline: 1px solid #376bd3;
}

.enviar {
    display: inline-block;
    padding: 6px 12px;
    color: #fff;
    text-align: center;
    background-color: #8e54c4;
    border: 1px solid #8e54c4;
    border-radius: 5px;
}

.comentario + div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0px 7px;
}

.fecha {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.edit {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.edit > a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px){
    .info {
        flex-direction: column;
        row-gap: 10px;
        justify-content: center;
        align-items: flex-start;
    }
}

@media screen and (max-width: 668px){
    .descripcion {
        width: 100%;
    }
}

@media screen and (max-width: 530px) {
    .c1, .c2 {
        flex-direction: column;
        row-gap: 10px;
    }

    .c1 p, .c2 p {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 450px) {
    .fecha {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
    }

    .fecha > .com {
        margin-top: 10px;
    }

    .titulo {
        font-size: 25px !important;
    }
}

@media screen and (max-width: 390px) {
    .prioridades {
        flex-direction: column;
        row-gap: 10px;
    }

    .prioridad,
    .input:last-of-type,
    .levantar {
        width: 100%;
    }

    .levantar {
        text-align: center;
    }
}

@media screen and (max-width: 366px) {
    .edit {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        row-gap: 10px;
    }
}

@media screen and (max-width: 320px) {
    .info > div:first-of-type {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}